<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav class="navbar" th:fragment="navbar">
    <a class="brand" th:href="@{/dashboard}">TalentBoard</a>
    <a th:href="@{/vacancies}">Vacancies</a>
    <a sec:authorize="hasRole('CANDIDATE')" th:href="@{/applications/me}">My applications</a>
    <a sec:authorize="hasAnyRole('RECRUITER','ADMIN')" th:href="@{/vacancies/new}">New vacancy</a>
    <span class="spacer"></span>
    <span class="muted" sec:authentication="name"></span>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-link" type="submit">Logout</button>
    </form>
</nav>
</body>
</html>
